---
import Card from "../components/Card.astro";
import Logo from "../components/Logo.astro";
import MainSocialLink from "../components/MainSocialLink.astro";
import PrimarySocialLinks from "../components/PrimarySocialLinks.astro";
import SocialLink from "../components/SocialLink.astro";
import Layout from "../layouts/Layout.astro";
import { secondarySocials, primarySocials } from "../constants";
import "../preflight.css";

type Categories = "main-content" | "community" | "personal" | "other";
---

<Layout>
  <main class="main">
    <div class="container">
      <Card class="hero">
        <Logo />
        <div class="hero-content">
          <h1 class="title">Nix</h1>
          <PrimarySocialLinks socials={primarySocials} class="hero-socials" />
          <p class="subtitle">
            Фрукты не дышать корень имбиря стоять на голове холодный душ спать
            на полу с открытыми глазами
          </p>
        </div>
      </Card>
      <!-- <div>
        <h2 class="title">Стримы и записи</h2>
      </div> -->
      <div class="socials-container">
        {
          secondarySocials.map((social) => (
            <SocialLink href={social.url} social={social.type}>
              {social.name}
            </SocialLink>
          ))
        }
      </div>
    </div>
  </main>
  <footer class="footer">
    <PrimarySocialLinks socials={primarySocials} class="footer-socials" />
  </footer>
</Layout>
<style>
  .main {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    /* justify-items: stretch; */
    /* gap: 1rem; */
    padding: 1rem;
    border-radius: 4rem;
    margin: 0 auto;
    /* flex-grow: 1; */
    /* background-color: rgba(0, 0, 0, 0.7); */
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-width: 900px;
    width: 100%;
  }

  .title {
    display: flex;
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
    margin: 0;
    border-radius: 4rem;
    text-align: left;
  }

  .subtitle {
    font-size: 1.125rem;
    font-weight: 400;
  }

  .socials-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 28px 96px;
    gap: 2rem;
    margin: 110px 0;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
  }

  .hero-socials {
    margin-left: -0.75rem;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
  }

  .footer-socials {
  }

  .footer {
    padding: 2.5rem;
    margin: 0 auto;
  }
</style>
